<html>
<head>
</head>
<body>
<div id="leftcolumn">
     
          <img class="side-image" src="/images/csq.jpg" /><br />
          <r:snippet name="Side-Navigation" />
          <r:snippet name="side-news" />
</div><!-- Begin Sub-Left Column -->
        <div id="sub-left">        
            <div class="spiffyfg"> 
            <div id="sub-left-content">
              
    <Script Language="JavaScript" type="text/javascript">

function checkform(myform)
{
 
</Script>

 <h3> &nbsp;&nbsp;&nbsp;Register </h3><br />


<form name="myform" action = "/csq/sendmail/" method="POST"  onsubmit="return checkform(this)">
 
 <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                      <td>&nbsp;</td>
                      <td>Please Note: This service is only for clients opting for services of Mustafa & Co. C.A and its Associates.<br>
                           </td>
                    </tr>

                    <tr>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
              
                    <tr>
                    </tr>
              
                    <tr>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>


                    <tr>
                      <td width="4%">&nbsp;</td>
                      <td width="96%">&nbsp;</td>
                    </tr>
              
                    <tr>
                      <td>&nbsp;</td>
                      <td bgcolor="F0F0F0">
                      <table width="100%"  border="0" cellpadding="5" cellspacing="1" bgcolor="#CCCCCC">

                         <tr bgcolor="#FFFFFF">
                            <td width="50%" class="body"><input name="subscribe" type="checkbox" ><strong>Subscribe</strong><font color="red"> * </font></td>
                            <td width="50%"><input name="unsubscribe" type="checkbox" ><strong>UnSubscribe</strong></td>
<td></td>
                          </tr>
                          <tr bgcolor="#FFFFFF">
                            <td class="body"> <strong><strong>Mobile No:<font color="red"> * </font></strong></strong> </td>
                            <td></td>
<td></td>
                          </tr>
                         <tr bgcolor="#FFFFFF">
                         <td class="body">  </td>
                            <td><font color="red"> *</font> Contact Person Name   : 
			<input name="contactpname" type="text" size="20px">
</td>
                            <td><font color="red"> *</font> Mobile No.+91   : 
			<input name="contactmobileno" type="text" size="20px">
</td>

                          </tr>

                         <tr bgcolor="#FFFFFF">
                         <td align="left" class="body"></td>

                            <td>Alt.Contact Person Name <input name="altcontactpname" type="text" size="20px"></td>
                          <td>Mobile No.+91   : <input name="altcontactmobileno" type="text" size="20px"></td>
                     
                         </tr>
                       
                         <tr bgcolor="#FFFFFF"><td align="right">Email-ID of client company  : </td>
                         <td><input name="email" type="text" size="20px"/></td></tr>
                         <tr bgcolor="#FFFFFF"><td align="right">Client TAN No.</td><td>
                         <input name="tan" type="text" size="20px"/></td> 
                         </tr>
                       
                            <tr bgcolor="#FFFFFF">

                            <td align="right"> Client Pan No</strong></strong> </td>
                            <td><input name="tan" type="text" size="20px"/></td><td></td>
                          </tr>


		 

                            <tr bgcolor="#FFFFFF">

                            <td align="right"> Suggestions if any : ( Be precise as far as possible)
  </td>
                            
                          </tr>
<tr bgcolor="#FFFFFF">
				<td></td>
                            <td align="right"> <textarea name="suggession"></textarea>
  </td>
                            
                          </tr>

<tr bgcolor="#FFFFFF">

                            <td align="right"> <input type="checkbox" name="agree"/>
			    </td>
<td align="right"> I agree
			    </td>
                                                        

                          </tr>

<tr bgcolor="#FFFFFF">

                            <td align="right"> CAPTCHA
			    </td>
<td align="right"> CAPTCHA FIELD
			    </td>
                                                        

                          </tr>

<tr bgcolor="#FFFFFF">

                            <td align="right">  (* Mandatory Field)
			    </td>
                                                         

                          </tr>
<tr>
<td colspan="3">
Unconditional Undertaking for SMS Services 

I/We<input type="text" name="clientname"/>(‘Client’ ) duly authorized on behalf of M/s <input type="text" name="msclientname"/> (‘Client’s Company’)render and unconditional undertaking to M/s Mustafa & CO, Chartered Accountants and M/s Mustafa Infotech ( Service provider) for using SMS channel for communicating alerts, knowledge updates , service/assignment updates in relation services rendered by them under following terms and conditions : 
Terms of Use
Client/Clients Company  has  appointed and agreed to avail out processing services from the service provider and by providing mobile phone number Client/Clients Company  are registering to receive text messages that provide alerts, knowledge updates , service/assignment updates in relation services rendered by service provider . 
Acceptance of Agreement
You agree to the terms and conditions outlined in this Agreement ("Agreement") with respect to SMS Channel to be used by service provider for providing an efficient and timely services to their  clients. I have read and aware of all laws and TRAI regulations applicable to this services.
Indemnification
You agree to indemnify and hold harmless service provider, its owners, administrators, Partners, employees, agents, representatives and contributors from any liability, loss, claim and expense, including reasonable attorney's fees, related to your violation of this Agreement.
Message Frequency:
By registering to receive SMS from service provider you can expect to receive unlimited number of SMS related to services provided. If at any point you wish to remove yourself from the mobile alerts unsubscribe yourself by visiting Mustafaco.com official website of Service provider. 
Charges:
Service provider is committed towards efficient and timely services to its clients and  hence no charge is levied at present being voluntary services. Your mobile phone carrier may charge you for usage. Please consult your mobile service carrier's pricing plan to determine the charges for sending and receiving text messages.
User Submissions:
We welcome your comments and suggestions regarding the SMS services. However, any comments, feedback, notes, messages, ideas, suggestions or other communications (collectively, "Comments") sent by you to service will be accepted as per sole-discretion of service provider  
Content of Mobile Alerts:
We are not responsible for technical, hardware or software malfunctions, telephone failures of any kind, lost or unavailable network connections, or failed, incorrect, inaccurate, incomplete, garbled or delayed electronic communications whether caused by the sender or by any of the equipment or programming associated with or utilized in connection with the mobile alerts . 

No Warranty:
Your use of the mobile alerts is at your sole risk. The content and information included in the alerts is provided to you “as is” without warranties or representations of any kind. We disclaim and exclude any express or implied warranties or representations, including any warranties as to merchantability or fitness for a particular purpose of the mobile alerts to the broadest extent permitted by law. We make no warranties or representations, express or implied, as to the timeliness, accuracy, quality, completeness or existence of the content and information included in the mobile alerts. We make no warranties or representations, express or implied, for technical accessibility, fitness or flawlessness of the mobile alerts. 
The mobile alerts will occasionally experience outages during which you or other users will not be able to receive the mobile alerts. We do not warrant that the mobile alerts are free of viruses or other harmful components. We will not be liable for any damages of any kind arising from the use or unavailability of the mobile alerts. 
Disclaimer, Limitation on Liability:
Use of the mobile alerts is provided “as is,” as an accommodation, and without warranty of any kind, including, without limitation, any warranty of title, merchantability, or fitness for a particular purpose. In no event shall we be liable to you or any third party for any indirect, consequential, exemplary, incidental, special or punitive damages, including lost profit damages arising from your use of the mobile alerts, even if we have been advised of the possibility of such damages. Notwithstanding anything to the contrary contained herein, our liability to you for any cause whatsoever and regardless of the form of the action, will at all times be limited to the amount paid, if any, by you to us for your use of the mobile alerts. 
Applicable Law and Jurisdiction
These terms and conditions are governed by and to be interpreted in accordance with laws of India, without regard to the choice or conflicts of law provisions of any jurisdiction. You agree, in the event of any dispute arising in relation to these terms and conditions or any dispute arising in relation to the web site whether in contract or tort or otherwise, to submit to the jurisdiction of the courts located at Chandrapur, India for the resolution of all such disputes
</td>
</tr>

<tr>
<td>
<input type="submit">
</td>
</tr>


                        </table>
                        <br>
                                   
               
                  </table>
</form>
 
  
      </div>
        </div>
        </div>
      <!-- End Sub-Left Column -->
</body>
</html>
