@charset "utf-8";
/* CSS Document */
<!-- 
body { 
margin:0px;
 }
#PageDiv
{
    margin: 0 auto 0 200px;
    min-height: 100%;
    overflow: visible;
    position: relative;
    width: 1204px;
}
#header
{
	width:100%;
	height:125px;
	border-bottom:solid;
	border-width:1px;
	border-color:#CCCCCC;
	margin:0px 0px 0px 0px ;
	overflow:hidden;
	
	}

.desc
{
     font-style:strong;
     font-family:Arial;
     font-weight:bold;
     font-size:32px;
     color:#4bb0eb;
}	
	
.logo
{
	background:url('/images/item2a.gif');
	width:124px;
	height:68px;
	float:left;
	overflow:hidden;
	margin:50px 0px 0px 20px ;
	
}
#nav{width:816px;height:50px;float:left;margin:75px 0px 0px -20px}
#nav ul{list-style-type:none;width:760px;margin: 19PX 0PX 0PX 297PX;}
#nav ul li{float:left;margin-right:10px}
#nav ul li a{display:block;padding:3px;text-decoration:none;color:#373737;font-size:13px;;font-weight:bold; font-family:"Trebuchet MS"}
#nav ul li a:hover{display:block;padding:5px;text-decoration:none;color:#FFF;font-size:13px;;font-weight:bold;background-color:#484747}

#contaner
{
	background:url('/images/item11aa.gif');
	background-repeat:repeat;
	width:743px;
	margin:50px 0px 0px 109px;
	height:auto;
	overflow:hidden;
}
#item4{
background:url('/images/item4.gif');
 width:743px; 
 height:41px; 
 }
 .left {
 width:350px;
 height:auto;
 margin:20px 10px 0px 15px ;
 float:left;
 overflow:hidden; 
 }
 .right {
 width:350px;
 height:auto;
 margin:20px 15px 0px 0px ;
 float:left;
 overflow:hidden; 
 }
  input
 {
 	background:#FFFFFF;
	height:29px;
	border: 1px solid #CCCCCC;
	border-radius:5px 5px 5px 5px;
	padding:0px 10px 0px 10px ;
	margin:0px 0px 10px 0px ;
        -moz-box-shadow: 3px 3px 4px #b5b4b4;
        -webkit-box-shadow: 3px 3px 4px #b5b4b4;
        box-shadow: 3px 3px 4px #b5b4b4;
        
 }

 .input
 {
 	background:#FFFFFF;
	width:338px;
	height:29px;
	border: 1px solid #CCCCCC;
	border-radius:5px 5px 5px 5px;
	padding:0px 0px 0px 10px ;
	margin:0px 0px 10px 0px ;
 }
 .text-1
 {
 	font-family:"Trebuchet MS";
	font-size:14px;
	font-weight:normal;
	padding:10px 0px 10px 10px ;
	text-align:justify;
 }
 #footer
{
	width:100%;
	height:125px;
	border-top:solid;
	border-width:1px;
	border-color:#CCCCCC;
	margin: 60px 0px 0px 0px ;
	overflow:hidden;
	
	}
	.footer-text
 {
 	font-family:"Trebuchet MS";
	font-size:10px;
	font-weight:normal;
	padding:10px 0px 10px 10px ;
	text-align:center;
 }
/*the copy for else part of home page when user click on home link and user logs out then this will come*/
#PageDiv1
{
	style="position:relative; 
	min-height:100%; 
	margin:auto; 
	width:960px;
	margin:0px auto 0px 204px;
	overflow:hidden;
        float:left;
}
#container-2
{
    
    height: auto;
    margin: 50px 0 0 16px;
    overflow: hidden;
    width: 900px;
}
#item41{
background:url('/images/item4.gif');
 width:743px; 
 height:41px; 
 }
 
 #item4{

 width:900px; 
 height:auto; 
 }
 .left1 {
    float: left;
    height: auto;
    margin: 0 44px 0 1px;
    overflow: hidden;
    width: 251px;
 }
 .middle1{
    float: left;
    height: auto;
    margin: 0 10px 0 27px;
    overflow: hidden;
    width: 253px;
 }
 
 .right1{
    float: left;
    height: auto;
    margin: 0 0 0 62px;
    overflow: hidden;
    width: 251px;
 }
 
 .heading1{
	margin-top:20px;
}

.style65{
    font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
    font-size: medium;
	margin-top: 10px;
}

.style63{
   color: grey;
    font-family: Arial,Tahoma,Helvetica,sans-serif;
    font-size: 13.6px;
    margin-top: 10px;
}
