 <div style="float:right;">
        <%if current_user.login=="admin" || current_user.login=="superadmin"%>
          <%#= link_to "add an competition", new_admin_workspace_competition_path(profile_workspace.id) %>
        <%end%>
      </div><br />
      <% if !(competitions_users= CompetitionsUser.find(:all,:conditions=>["user_id=?",@order.user_id],:include => [:competition], :order => 'created_at DESC')).empty? %>
        <% competitions_users.each do |cu| %>
          <%if  cu.state.blank?%>
            <% blank_list_element(:date => cu.created_at, :title => link_to(cu.competition.title, admin_competition_path(cu.competition_id))+" with state unpaid") do %>
        <%#= link_to_remote('Pay online', :url => new_admin_payment_url(:iid => @current_object.id), :update => 'modal_space', :method => :get) if i.state != 'validated' %>
                                                <!--<a href='/admin/competitions/create_subscribe_competition/?competion_id=<%=cu.competition_id%>'> Confirm Competition</a>-->
              <%#=render :partial=>"compslideshow",:locals=>{:cu=>cu}%>
            <% end %>
          <%elsif   cu.state == "accepted"%>

         <%if cu.competition%>
            <% blank_list_element(:date => cu.created_at, :title => link_to(cu.competition.title, admin_competition_path(cu.competition_id))+" with state unpaid") do %>
        <%#= link_to_remote('Pay online', :url => new_admin_payment_url(:iid => @current_object.id), :update => 'modal_space', :method => :get) if i.state != 'validated' %>
                                               <!-- <a href='/admin/competitions/create_subscribe_competition/?competion_id=<%=cu.competition_id%>'> Confirm Competition</a>-->
              <%#=render :partial=>"compslideshow",:locals=>{:cu=>cu}%> 
         <%end%>

            <% end %>
          <%else%>     
            <% blank_list_element(:date => cu.created_at, :title => link_to(cu.competition.title, admin_competition_path(cu.competition_id))+" with state paid") do %>
        <%#= link_to_remote('Pay online', :url => new_admin_payment_url(:iid => @current_object.id), :update => 'modal_space', :method => :get) if i.state != 'validated' %>
              <%=render :partial=>"compslideshow",:locals=>{:cu=>cu}%>
            <% end %>
          <%end%>       
        <% end %>
        <br /><br />
      <% else %>
        No subscriptions to competitions for that user.
      <% end %>
      <br/>   

