
         <%  artcomp = ArtworksCompetition.find(:all,:conditions=>["competition_id = ? and competitions_users_id = ?",cu.competition_id,cu.id]) %>

<%for art in artcomp%>
<div style="float:left">
  <img src="/uploaded_files/competition/artwork/<%=art.id%>/thumb/<%=art.avatar_file_name%>">
  </div>
<%end%>