
         <%  artcomp = ArtworksCompetition.find(:all,:conditions=>["competition_id = ? and competitions_users_id = ?",cu.competition_id,cu.id]) %>

<%for art in artcomp%>
<div >
  <img src="/uploaded_files/competition/artwork/<%=art.id%>/thumb/<%=art.avatar_file_name%>"/>
  </div>
 <%=link_to_remote "Edit Image",:url=>"/edit_comp_image_edit_com?art_comp=#{art.id}",:update => 'modal_space',:method=>:get%>
    
<%end%>
