<style>
  .textareaimage{
        width: 290px;
        height: 70px;
        border: 3px solid #cccccc;
        padding: 5px;
        font-size: 10px !important;
        font-family: arial narrow !important; 
        background-color: #9C9C9C;
        background-position: bottom right;
        background-repeat: no-repeat;
  }
</style> 
    <script>
        $(document).ready(function() {
            $('.fancybox').fancybox();
        });
    </script>
 <%artexhibition = Artwork.find(:all,:conditions=>["user_id = ? and exhibition_id = ?",eu.user.id,eu.exhibition.id])%>
  <div>
   <p>
    <%for artwork in artexhibition%>
  
    
		

		<a class="fancybox" href="/uploaded_files/development/artwork/<%=artwork.id%>/thumb/<%=artwork.image_file_name%>" data-fancybox-group="gallery" title="Sed vel sapien vel sem uno"><img src="/uploaded_files/development/artwork/<%=artwork.id%>/thumb/<%=artwork.image_file_name%>" alt="" /></a>
	
  
     <%end%></p>
    </div>

<script>
function sendselectrequest(selectedid){
  document.getElementById('changemystatebefore'+selectedid).innerHTML='state selected';
  //showhidediv(selectedid)
  jQuery.ajax({data:'', error:function(request){jQuery('#error').html(request.responseText);}, success:function(request){jQuery('#').html(request);}, type:'get', url:'/admin/exhibitions/submit_exhibition_artwork/'+selectedid}); return false;
  return false;
}
 
function sendunselectrequest(selectedid){
  document.getElementById('changemystatebefore'+selectedid).innerHTML='state unselect';
  //showhidediv(selectedid)
  jQuery.ajax({data:'', error:function(request){jQuery('#error').html(request.responseText);}, success:function(request){jQuery('#').html(request);}, type:'get', url:'/admin/exhibitions/unselect_exhibition_artwork/'+selectedid}); return false;
  return false;
}
</script>
