<style>
  .textareaimage{
        width: 290px;
        height: 70px;
        border: 3px solid #cccccc;
        padding: 5px;
        font-size: 10px !important;
        font-family: arial narrow !important; 
        background-color: #9C9C9C;
        background-position: bottom right;
        background-repeat: no-repeat;
  }
</style> 
 <%artexhibition = Artwork.find(:all,:conditions=>["user_id = ? and exhibition_id = ?",eu.user.id,eu.exhibition.id])%>
  <div>
    <%for artwork in artexhibition%>
    <img src="/uploaded_files/development/artwork/<%=artwork.id%>/thumb/<%=artwork.image_file_name%>">
     <%end%>
    </div>