 <html>
 <head>
 <link rel="stylesheet" type="text/css" href="blank_JQ.css" />
 </head>
 
 <body>
<!--<form action="" method="post"> -->

<div class="left">
   <b>Full name </b> 
</div>
<div class="right">
    <input type="text" size="30" placeholder="Full name"><br />
</div>
<div class="left">
  <b>Email </b>
</div>
<div class="right">  
  <input type="text" size="30" placeholder="Email"><br />
</div>  
<div class="left">
  <b> Website </b>
</div>
<div class="right">
  <input type="text" size="30" placeholder="Website"><br />
</div>
<div class="left">
  <b>Middle name:</b>
</div>
<div class="right">
  <input type="text" size="30" placeholder="Middle name"><br />
</div>
<div class="left">  
  <b>Last name:</b>
</div>
<div class="right">
  <input type="text" size="30" placeholder="Last name"><br />
</div>
<div class="left"> 
  <b>Phone number :</b>
</div> 
<div class="right">
  <input type="text" size="30" placeholder="Phone number"><br />
</div>  
<div class="left"> 
  <b>Birth date:</b>
</div>  
<div class="right">   
  <input type="text" size="30" placeholder="Birth date"><br />
</div> 
<div class="left">   
<b>Gender:</b>	
</div> 
<div class="right"> 
  <input type="text" size="30" placeholder="Gender"><br />
</div>
<div class="left">    
  <b>Nationality :</b>	
</div>
<div class="right">   
  <input type="text" size="30" placeholder="Nationality"><br />
</div>
<div class="submitright">  
  <input type="submit" value="Submit"><br />
</div>  
<!--</form>  -->

  </body>
  </html>


