


 <form action="">
  <div class="spacet">
  <input type="text" size="30" placeholder="Full name">
  </div> 

  <div class="spacet">
  <input type="text" size="30" placeholder="Email">
  </div>
  
  <div class="spacet">
  <input type="text" size="30" placeholder="Website">
  </div>
   
  <div class="spacet">
  <input type="text" size="30" placeholder="Address">
  </div>
  
  <div class="spacet">
  <input type="text" size="30" placeholder="Suburb">
  </div>
 
  <div class="spacet">
  <input type="text" size="30" placeholder="Post code">
  </div>
    
  <div class="spacet"> 
  <input type="text" size="30" placeholder="Country">
  </div>
      
 <button class="sbutton" type="submit">
 <span>Submit</span>
</button>
 </div>

 </form> 
 


